/* CSS VARIABLE */
:root {
    --box-size: 50px;
    --transform-animation: transform 2s ease-in 0s infinite both;
}

.box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: var(--box-size);
    height: var(--box-size);
    background-color: tomato;
    border: 2px solid black;
    animation: var(--transform-animation);
    -webkit-animation: var(--transform-animation);
    -moz-animation: var(--transform-animation);
    -ms-animation: var(--transform-animation);
    -o-animation: var(--transform-animation);
}

/* scale(2, 0.5)  */
@keyframes transform {
    /* 100% {
        transform: scaleX(2) scaleY(0.5) 
    } 
    */
    100% {
        transform: translate(10px, 50px)
    }
}